.container {
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  display: flex;
}

.title {
  position: absolute;
  font-family: monospace;
  color: #365fac;
  font-size: 14px;
  bottom: 47.5px;
  left: 0px;
}

.input {
  background-color: #131313;
  border-radius: 10px;
  padding: 12px 25px;
  color: #c8c8c8;
  font-size: 15px;
  outline: none;
  border: none;
}

.input::placeholder {
  color: #c8c8c8;
}

.button {
  background-color: #365fac;
  border-radius: 10px;
  padding: 9px 15px;
  margin-left: 4px;
  font-size: 20px;
  color: black;
  border: none;
}

@media screen and (min-width: 500px) {
  .button {
    font-size: 28px;
  }

  .input {
    font-size: 23px;
  }

  .title {
    font-size: 20px;
    bottom: 52px;
  }
}

@media screen and (min-width: 850px) {
  .button::after {
    content: " Dodaj zadanie";
    font-size: 20px;
  }

  .button {
    font-size: 20px;
    width: 182px;
    margin-left: 24px;
  }

  .input {
    min-width: 400px;
    font-size: 18px;
  }

  .title {
    font-size: 20px;
    bottom: 52px;
  }
}
