.container {
  margin-top: 40px;
}

.title {
  margin-bottom: 20px;
  color: #365fac;
  font-size: 14px;
  font-weight: 600;
  font-family: monospace;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 20px;
  }
}
